@import-normalize; /* bring in normalize.css styles */

/* Manrope SemiBold */
@font-face {
    font-family: 'Manrope SemiBold';
    src: url('./fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
}

/* Manrope Medium */
@font-face {
    font-family: 'Manrope Medium';
    src: url('./fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}

/* Manrope Bold */
@font-face {
    font-family: 'Manrope Bold';
    src: url('./fonts/Manrope/Manrope-Bold.ttf') format('truetype');
}

/* Manrope Regular */
@font-face {
    font-family: 'Manrope Regular';
    src: url('./fonts/Manrope/Manrope-Regular.ttf') format('truetype');
}

/* Manrope ExtraBold */
@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('./fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
}

/* Inter Regular */
@font-face {
    font-family: 'Inter Regular';
    src: url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
}

/* Inter Medium */
@font-face {
    font-family: 'Inter Medium';
    src: url('./fonts/Inter/Inter-Medium.ttf') format('truetype');
}

/* Poppins Regular */
@font-face {
    font-family: 'Poppins Regular';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 20rem;
}

html {
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Стилі за замовчуванням */
body {
    font-family: 'Manrope SemiBold', sans-serif;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03rem;
    color: #111111;
}

#root {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
